.main {
    margin: 0 auto;
    width: 600px;
    height: 545px;
    background-color: #DBD8CF;
    border-radius: 50px;
    border: 8px solid #333333;
    box-shadow: 0 0 0 2px rgb(88, 89, 94), 0 10px 0 0 rgba(71, 73, 74, 0.4);
  
  }